@import "tailwindcss";

@theme {
    --color-primary: #f20000;
    --color-secondary: #000000;
    --font-inter: "Inter", system-ui, sans-serif;

    --color-surface-100: #ffffff;
    --color-surface-200: #f1f5f9;
    --color-content-100: #020617;
    --color-content-200: #475569;
    --color-outline: #e2e8f0;

    --color-dark-surface-100: #000000;
    --color-dark-surface-200: #1e1e20;
    --color-dark-content-100: #ffffff;
    --color-dark-content-200: #a1a1aa;
    --color-dark-outline: #2d2d30;
}

body {
    @apply bg-surface-100 text-content-100 font-inter transition-colors duration-300;
}

.dark body {
    @apply bg-dark-surface-100 text-dark-content-100;
}

@layer base {

    input,
    textarea,
    select {
        @apply bg-transparent border-outline text-content-100 dark:text-white rounded-lg focus:ring-2 focus:ring-primary focus:border-transparent transition-all;
    }
}

.glass {
    @apply bg-white/70 dark:bg-zinc-900/70 backdrop-blur-md border border-white/20 dark:border-zinc-800/30;
}

.no-print {
    @media print {
        display: none !important;
    }
}

@media print {
    body {
        background-color: white !important;
        color: black !important;
    }
}